.foodsform {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.foodsform label {
    text-align: left;
    display: block;
}
.foodsform h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #1B4D3E;
}
.foodsform input, .foodsform select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.foodsform button {
    background: #006A4E;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
/* .foodsform table {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
} */